@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800|Roboto);
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fcfaf4;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p, textarea, button {
  font-size: 1em;
  border-radius: 2px;
}

.clock {
  font-size: 5rem;
  margin: 3rem 0;
}

.game-window {
  width: 600px;
  max-width: 95vw;
}

textarea {
  width: 100%;
  height: 400px;
  background-color: #fff;
  border: none;
}

textarea:disabled {
  background-color: #e8e8e8;
}

.bottom-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button {
  background-color: #00ccb1;
  color: #fcfaf4;
  border: none;
  padding: 8px 16px;
  border-radius: 40px;
}

button:disabled {
  display: none;
}
